<header>
        <div class="row">
            <div class="col-sm-12  p-flex p-flex-align-center p-flex-justify-sb">
                <ul>
                    <li class="p-hamburger">
                        <span></span>
                        <span></span>
                        <span></span>

                    </li>
                    <li>
                        <img src="assets\img\linkedin.png" class="invert">

                    </li>
                    <li>

                        <img src="assets\img\email.png" class="invert">

                    </li>
                    <li>

                        <img src="assets\img\github.png" class="invert">

                    </li>
                
                </ul>
                <ul>
                    <li>

                        <a routerLink="/" routerLinkActive="active-link">ABOUT</a>
                    </li>
                    <li>

                        <a href="#">RESUME</a>
                    </li>
                    <li>
                        <a href="#">CONTACT ME</a>

                    </li>
                    

                </ul>
            </div>
        </div>
</header>
