
<section>
    <div data-aos="fade-down">
    <div class="container">
       
        <div class="row">
            <div class="col-sm-5">
                <div class="p-profile"></div>
                </div>
                <div class="col-sm-7">
                    <div class="box">
                        <div></div>Siddharth here
                    </div> 
                        
                   <p>
                       I'm a Btech student of batch 2018-2022. Trying to learn something new and innovative everyday. I love ccoking and long treks
                   </p>
                </div>
            </div>
        </div>
    </div>
</section>



